{% extends 'enquisas/base_template.html' %}

{% block section %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">

        {% include 'enquisas/messages.html' %}

        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">

                {% if enquisa.imaxe %}
                    <img class="card-img-top mb-5 mb-md-0" src="{{ enquisa.imaxe.url }}" alt="..." />
                {% else %}
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                {% endif %}
                
            </div>
            <div class="col-md-6">
                <div class="small mb-1"> Detalle da pregunta con id {{ enquisa.id }} </div>
                <h1 class="display-5 fw-bolder"> {{ enquisa.pregunta }} </h1>
                <p class="lead">
                    <form action="{% url 'detalle_enquisa' enquisa.id %}" method="post">

                        {% csrf_token %}
                        {% for opcion in enquisa.opcion_set.all %}
                            <input id = "{{ opcion.id }}" type="radio" name="opciones" value="{{ opcion.id }}">
                            <label for="{{ opcion.id }}"> {{ opcion.texto_opcion }} - ({{opcion.votos}} votos) </label><br/>
                        {% endfor %}
                        <br><br>

                        <button type="submit" class="btn btn-secondary" 
                        {% if user in enquisa.usuarios_que_votaron.all %}
                             disabled 
                        {% endif %}
                         >Votar por esta opción</button>
                        
                    </form>
                    
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}