{% extends 'enquisas/base_template.html' %}

{% block header %}

    {% include 'enquisas/header.html' %}

{% endblock %}

{% block section %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">

            {% include 'enquisas/messages.html' %}

            <br/>
            <br/>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for enquisa in lista_enquisas %}

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        {% if enquisa.imaxe %}
                            <img class="card-img-top" src="{{ enquisa.imaxe.url }}" alt="..." />
                        {% else %}
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ enquisa.pregunta }}</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                {{ enquisa.opcion_set.all | length }} opcións
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'detalle_enquisa' enquisa.id %}">Ver enquisa</a></div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}