
{% extends 'enquisas/base_template.html' %}

{% block section %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">

        {% include 'enquisas/messages.html' %}

        <form action="{% url 'crear_opcion' %}" method="post">

            {% csrf_token %}
            
            {{ form }}
            
            <br/><br/>

            <button type="submit" class="btn btn-secondary">Crear nova opción</button>

        </form>
    </div>
</section>

{% endblock %}