{% extends 'enquisas/base_template.html' %}

{% block section %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">

        {% include 'enquisas/messages.html' %}

        <h2> Acabas de votar pola opción </h2>
        
        <h1>{{opcion.id}}-{{opcion.texto_opcion}}</h1>

        <h2> da enquisa {{opcion.enquisa.pregunta}}</h2>

        <h3>Esta opción agora ten {{ opcion.votos }} votos</h3>

        <a href="{% url 'detalle_enquisa' opcion.enquisa.id %}">Ver resultados da enquisa {{opcion.enquisa.id}}</a>

    </div>
</section>  

{% endblock %}

